/* ---------------- FOOTER ---------------- */

.footer__conteiner{
    background-color: $bluemain;
    width: 100%;
    height: 12.50rem;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.94rem;
}

.footer__up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__up__p{
    font-size: 1rem;
    color: $graymain;
}
.footer__up__svg{
    width: 10rem;
}

.footer__down{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}
.footer__down__p{
    font-size: 0.8rem;
    color: $graymain;
}
.footer__down__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navFooter__barra{
    display: flex;
    align-content: center;
    background-color: $graymain;
    margin: 1rem;
    width: 0.08rem;
    height: 1rem;
}
.footer__down__nav__icon{
    width: 1.5rem;
}

/* ---------------- FINAL FOOTER ---------------- */
