/* -------- PARA MOVIL -------- */

@media only screen and (min-width: 320px) and (max-width: 480px){


/* ---------- NAV MOVIL ---------- */
.navbar{
    --bs-navbar-toggler-padding-x: 1rem;
    --bs-navbar-toggler-font-size: 1.50rem;
}
.navbar-collapse{
    justify-content: center;
    text-align: center;
    background-color: #fcce9e;
}
.navbar-toggler{
    border: none;
}
/* ---------- FINAL NAV MOVIL ---------- */


/* ---------- INDEX MOVIL ---------- */

.index__section__home{
    padding: 1rem;
}

.home__h1{
    font-size: 5.4rem;
}
.home__h2{
    margin: -0.5rem;
    font-size: 2.3rem;
}
.home__h2__svg{
    width:2.5rem;
}  
.home__p__line1{
    font-size: 1rem;
    padding: 1rem 0.25rem;
    text-align: center;
}
.home__p__line2{
    font-size: 1rem;
    font-size: 1rem;
    padding: 1rem 0.25rem;
    text-align: center;
}
.home__btn{
    width: 9rem;
    height: 2rem;
}
.home__btn__a{
    font-size: 1.05rem;
}
.sentence__conteiner__p{
    font-size: 1rem;
    padding: 1.5rem;
}

#index__section__gif{
    background-image: none;
    height: 75rem;
    padding: 1.5rem 0rem 0.5rem 0rem;
}
#gif__conteiner{
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "b1" "b2"
                         "b3" "b4"
    ;
}
.b1__box1{
    width: 100%;
    height: 16rem;
    background-color: #e4e7ec;
    border-radius: 0rem;
    padding: 0.5rem;
}
.b1__box1__circle{
    width: 7rem;
    height: 7rem;
}
.b1__box1__h4{
    font-size: 1.2rem;
}
.b2__box2{
    width: 100%;
    height: 16rem;
    background-color: #e4e7ec;
    border-radius: 0rem;
    padding: 0.5rem;
}
.b2__box2__circle{
    width: 7rem;
    height: 7rem;
}
.b2__box2__h4{
    font-size: 1.2rem;
}
.b3__box3{
    width: 100%;
    height: 16rem;
    background-color: #e4e7ec;
    border-radius: 0rem;
    padding: 0.5rem;
}
.b3__box3__circle{
    width: 7rem;
    height: 7rem;
}
.b3__box3__h4{
    font-size: 1.2rem;
}

.b4__box4{
    width: 100%;
    height: 16rem;
    background-color: #e4e7ec;
    border-radius: 0rem;
    padding: 0.5rem;
}
.b4__box4__circle{
    width: 7rem;
    height: 7rem;
}
.b4__box4__h4{
    font-size: 1.2rem;
}

/* ---------- INDEX MOVIL FINAL---------- */


/* ---------------- PROYECTO MOVIL ---------------- */

#proyectos{
    width: 90rem;
}

.proyectos__title__h1{
    font-size: 2.5rem;
}
.proyectos__box1{
    padding: 0.25rem;
}
.box1__card1{
    padding: 0.25rem;
}
.box1__card1__svg{
  width: 10.688rem;
  height: 11.438rem;
  border-radius: 50px;
}
.box1__card2{
    padding: 0.25rem;
}
.box1__card2__svg{
  width: 10.688rem;
  height: 10rem;
  border-radius: 50px;
}
.box2__card3{
    padding: 0.25rem;
}
.box2__card3__svg{
  width: 10.688rem;
  height: 10rem;
  border-radius: 50px;
}
.box2__card4{
    padding: 0.25rem;
}
.box2__card4__svg{
    background-color: white;
    width: 10.688rem;
    height: 11.438rem;
  border-radius: 50px;

}

.proyectos__title{
    padding: 2rem;
}
.proyectos__title__h2{
    font-size: 2rem;
}


.proyectos__conteiner__logofolio{
    display: flex;
    padding: 1rem 0rem 5rem 0rem;
}
.logofolio__box{
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
}

/* ---------------- PROYECTO MOVIL FINAL ---------------- */


/* ---------- SERVICIO MOVIL ---------- */

.servicios__title{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3rem;

.servicios__title__h1{
        font-size: 2.5rem;
        font-weight: bolder;
}
} 

#servicios__conteiner{
    background-image: url();
    position: static;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 280rem;
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "servicios_b1"
                         "servicios_b2"
                         "servicios_b3"
                         "servicios_b4"
    ;
    
    section#servicios__b1{

        .servicios__b1__box1{
            width: 100%;
            height: 74rem;
            border-radius: 0%;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .servicios__box__title__b1{
            display: flex;
            flex-direction: column;
        }
    }

    section#servicios__b2{
        grid-area: servicios_b2;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .servicios__box__title__b2{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
        }
        .servicios__b2__box2{
            display: flex;
            background-color: white;
            width: 100%;
            height: 73rem;
            border-radius:0%;
            align-items: center;
            justify-content: space-between;
            flex-direction: column-reverse;
        }
    }

    section#servicios__b3{
    
        .servicios__b3__box3{
            display: flex;
            background-color: white;
            width: 100%;
            height: 65rem;
            border-radius: 0%;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .servicios__box__title__b3{
            display: flex;
            flex-direction: column;
        }

    }
    
    section#servicios__b4{
        grid-area: servicios_b4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .servicios__box__title__b4{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
        }
        .servicios__b4__box4{
        display: flex;
        background-color: white;
        width: 100%;
        height: 56rem;
        border-radius: 0%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
        }
    }
    .servicios__box__h3{
        font-size: 1.2rem;
        text-align: center;
    }
    .servicios__box__title{
        display: flex;
        flex-direction: column;
        padding: 0rem 1.5rem;
        width: 100%;
    }
    .servicios__box__p{
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 1rem  0rem;
    }
    .servicios__box__ul{
        display: flex;
        width: 15rem;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
    }
    .servicios__box-ul__li{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .servicios__box__svg{
        width: 12rem;
        padding: 1rem;
    }

}

/* ---------- FINAL SERVICIO MOVIL ---------- */


/* ---------------- CONTACTO MOVIL ---------------- */

.contacto__background{
    height: 10rem;
}
.contacto__background__gif{
display: none;
}
.contacto__title{
    position: initial;
}
.contacto__title__h1{
font-size: 2rem;
text-align: center;
padding: 0.6rem;
}
.contacto__title__h3{
    font-size: 1.2rem;
}

.contacto__section__conteiner{
    margin-top: -6rem;
}
.contacto__box{
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
}
.contacto__nombre{
    padding: 1rem 0rem;
}
.contacto__mail{
    padding: 1rem 0rem;
}
.contacto__telefono{
    padding: 1rem 0rem;
}
.contacto__servicios{
    padding: 2rem 0rem;
}
.contacto__nombre__input{
    text-decoration: none;
    width: 20rem;
    border: none;
    border-bottom:1px solid #091420;
    background-color: #e4e7ec;
    font-size: 0.90rem;
    color: #091420;
}
.contacto__label{
    font-size: 0.90rem;
}
textarea{ 
    height: 2em;
    width: 22em;
    font-size: 0.90rem;
    border-bottom: 1px solid #091420;
}
.contacto__consulta{
    padding: 2.5rem 0rem;
}
.contacto__btn__summit{
    background-color: #fcce9e;
    border-radius: 50px;
    width: 6rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

/* ---------------- CONTACTO MOVIL FINAL ---------------- */


#sobremi{
    height: 64rem;
    display: grid;
    grid-template-rows: 2% auto auto 2%;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "imagen"
                         "info"
                         "footer"
    ;
}
.imagen__svg{
    width: 12rem;
    height: 20rem;
    border-radius: 50px;
    margin: 0.5rem;
}

.sobremi__info__conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info__h1{
    font-size: 2.1rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;

}
.info__h2{
    font-size: 1rem;
    font-weight: 600;
}
.info__p{
    font-size: 0.90rem;
    padding: 0.5rem;

}
.info__mail{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.5rem;
}
.info__mail__link{
    font-size: 0.90rem;
    padding: 1rem;
    font-weight: 600;
}
.info__mail__icon{
    width: 1.50rem;
}
.info__cel{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.5rem;
}
.info__cel__link{
    font-size: 0.90rem;
    font-weight: 600;
    padding: 0.5rem;
}
.info__cel__icon{
    width: 1.50rem;
}
.info_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.info__redes__a{
    font-size: 0.90rem;
    padding: 0.4rem;
}
.info__line1{
    width: 2.3rem;
    height: 0.15rem;
    margin: 1rem 1rem 0rem 1rem;
}
.info__line2{
    width: 2.3rem;
    height: 0.15rem;
    margin: 0.5rem;
}


/* ---------------- SOBRE MI MOVIL FINAL ---------------- */


/* ---------------- FOOTER MOVIL ---------------- */

.footer__conteiner{
    height: 13rem;
}

.footer__up{
padding: 0.5rem;
}

.footer__down{
    flex-direction: column-reverse;
    margin-top: 0rem;
    padding: 0rem;
}
.footer__down__p{
    font-size: 0.7rem;
}
.navFooter__barra{
    display: flex;
    align-content: center;
    background-color: #e4e7ec;
    margin: 1rem;
    width: 0.08rem;
    height: 1rem;
}
.footer__down__nav__icon{
    width: 1.5rem;
}

/* ---------------- FOOTER MOVIL FINAL ---------------- */
  

}

/*------------------------------------------------ Para Tablet ------------------------------------------------*/

@media only screen and (min-width: 576px) and (max-width: 991px){


/* ---------- NAV ---------- */
    .navbar-collapse{
        justify-content: center;
        text-align: center;
        background-color: #fcce9e;
    }
/* ---------- FINAL NAV ---------- */



}


